@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body {
    /* background: #1f242d; */
    color: white;
    font-family: "Outfit", sans-serif;
    ::selection {
        color: red;
        background: yellow;
    }
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
