@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
@import "tailwindcss";

body {
    background: #11071F;
    color: white;
    font-family: "Preahvihear", sans-serif;
    ::selection {
        color: red;
        background: yellow;
    }
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
